*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  display: flex;
}
/* main{
  width: 100%;
} */
.sidebar{
  background-color: #000;
  color: #fff;
  height: 100vh;
  transition: all 0.3s;
  width: 300px;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 35px;
}
.bars{
  font-size: 25px;
  display: flex;  
  margin-left: 30px;
  cursor: pointer;
}
.link{
  display: flex;
  color:#fff;
  padding: 5px 15px;
  gap: 15px;
  transition: all 0.3s;
  text-decoration: none;
}
.link:hover{
  background-color: lightskyblue;
  color: #000;
  transition: all 0.3s;
}
.active{
  background-color: lightskyblue;
  color: #000;
}
.icon,.link_text{
  font-size: 20px;
}
